<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" href="../../media/images/favicon.ico" type="image/x-icon" />
	<link rel="stylesheet" href="../../public/optimized.css" type="text/css">
	<script>
		if ('querySelector' in document && 'addEventListener' in window) {
			document.write('<script type="module" src="../public/optimized.js" defer><\/script>')
		}
	</script>
	<link rel="manifest" href="../../manifest.json">
	<title>NASA Astronomy Pictures of the Year</title>
</head>