<!DOCTYPE html>
<html lang="en">
<%- include('head') %>

<body>
	<main>
		<a href="/">
			<section id="offline">
				<div>
					<h1>Offline</h1>
					<h6>Please, try again with an internet connection</h6>
					<p>Click anywhere to go back to the homepage</p>
				</div>
			</section>
		</a>
	</main>
</body>

</html>