@import '/styles/document.css';
@import '/styles/user_actions.css';
@import '/styles/overview.css';
@import '/styles/detail.css';
@import '/styles/error.css';

@font-face {
	font-family: NASA;
	src: url(./media/fonts/nasalization-rg.woff);
}

:root {
	--title-font: "NASA";
	--normal-font: Arial, Helvetica, sans-serif;
	--highlight-color: #0E5BD8;
	--primary-color: white;
	--placeholder-color: #E4E5E7;
}