#detail {
	background-color: var(--highlight-color);
	height: calc(100vh - 100px);
	width: calc(100vw - 100px);
	padding: 50px;
	display: grid;
	grid-template-columns: auto 650px;
	grid-column-gap: 50px;
	grid-template-rows: auto auto auto auto auto 1fr;
	color: var(--primary-color);
	font-family: var(--normal-font);
}

#detail>a:first-of-type {
	grid-column: 1 / 1;
	grid-row: 1 / 8;
	width: 100%;
	max-height: calc(100vh - 100px);
	justify-self: center;
	align-self: center;
}

#detail>a:first-of-type>img {
	object-fit: contain;
	max-width: 900px;
	max-height: calc(100vh - 100px);
	display: block;
	margin: auto;
}

#detail>a:last-of-type {
	grid-column: 2 / 3;
	grid-row: 1 / 1;
	justify-self: end;
	display: block;
	margin-bottom: 20px;
}

#detail>h1 {
	grid-column: 2 / 3;
	grid-row: 1 / 1;
	align-self: end;
	font-size: 50px;
	margin-bottom: 10px;
	line-height: 1;
	width: 100%;
	margin-top: 100px;
}

#detail>p {
	align-self: start;
	grid-column: 2 / 3;
	font-size: 20px;
}

#detail>p:first-of-type {
	grid-row: 3 / 3;
	margin-bottom: 20px;
	font-size: 30px;
}

#detail>p:nth-of-type(2) {
	grid-row: 4 / 4;
	margin-bottom: 20px;
}

#detail>p:nth-of-type(3) {
	grid-row: 5 / 5;
	margin-bottom: 20px;
}