@font-face {
	font-family: NASA;
	src: url(../media/fonts/nasalization-rg.woff);
}

:root {
	--title-font: "NASA";
	--normal-font: Arial, Helvetica, sans-serif;
	--highlight-color: #0E5BD8;
	--primary-color: white;
	--placeholder-color: #E4E5E7;
}


#overview>div:first-of-type h1 {
	font-family: var(--title-font), var(--normal-font);
}

@import 'document.css';
@import 'user_actions.css';
@import 'overview.css';
@import 'detail.css';
@import 'error.css';