/* Overview header */

#overview {
	overflow-y: scroll;
	height: 100vh;
}

#overview>div:first-of-type {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 30px 0px 0px 0px;
	height: 5vh;
}

#overview>div:first-of-type img {
	height: 50px;
	width: auto;
}

#overview>div:first-of-type h1 {
	font-size: 40px;
	margin: 0px 0px 0px 10px;
	display: inline-block;
	cursor: default;
}

/* Overview APOD container */

#overview>div:last-of-type {
	height: calc(95vh - 80px);
	max-height: calc(95vh - 80px);
	width: 84vw;
	padding-left: 10px;
	overflow-y: scroll;
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	-ms-overflow-style: none;
}

#overview>div:last-of-type::-webkit-scrollbar {
	display: none;
}

/* Image reflow */

#overview>div:last-of-type>span,
#overview>div:last-of-type a>span {
	background-color: var(--placeholder-color);
	width: 320px;
	height: 320px;
	margin: 10px;
	display: block;
	position: relative;
	overflow: hidden;
}

/* Content */

#overview>div:last-of-type span p {
	position: absolute;
	z-index: 999;
	bottom: 0px;
	right: 0px;
	font-family: "NASA", var(--normal-font);
	color: white;
}

#overview>div:last-of-type span img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	cursor: pointer;
	position: relative;
	z-index: 3;
}

#overview>div:last-of-type a:hover span {
	outline: 10px solid var(--highlight-color);
	pointer-events: auto;
}

#overview>div:last-of-type a span img {
	pointer-events: auto;
}